:root {
  --primary: #30343f;
  --second: #fafaff;
  --third: #d4d4d9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: url("../assets/Bg-Tic-Tac-Toe.svg") center / contain;
  background-color: var(--second);
  background-size: 100px;
  position: relative;
}
